.tableSize{
    width: 100%;
}
.btnStyle{
    background-color: #4E59FF;
    color: white;
    width: 30%;
}
.btnStyleMobile{
    background-color: #4E59FF;
    color: white;
    width: 70%;
}
.mat-column-name {
    flex: 0 0 10%;
    width: 25%;
    padding-right: 5%;
}